@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');



  /* ВСЁ ЧТО НИЖЕ ТОПБАРА */

  .bgfon{
    display: flex;
    height: 10vh;
    width: 100%;
    position: relative;
    align-items: center;
}
.bgfon>div{
    display: inline;
    margin-left: 12.8rem;
    font-size: 50px;
    color: rgb(44, 44, 44);
    font-style:inherit;
}
.garant_ob{
    margin-left: 12.8rem;
}
.b2{
    width: 100%;
    height: 2px;
    background-color: #2c2c2c;
}
.b3{
    height: 2rem;
}
.center{
    display: block;
    padding-bottom: 1rem;
    padding-left: 12.8rem;
    padding-right: 20rem;
}
.information{
    font-size: 17.5px;
    line-height: 30px;
    color: #2c2c2c;
    padding: 0.8rem;
    padding-left: 0rem;
}
.spisok{
    color: #2c2c2c;
    padding: 0;
}
.spisok>li{
    padding: 0.5rem;
    padding-left: 0;
    font-size: 17.5px;
}
.b4{
    width: 100%;
    height: 1px;
    background-color: #2c2c2c;
}


@media (max-width: 1110px) {
    .garant_ob{
        margin-left: 2.8rem;
    }
    .center{
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
}
@media (max-width: 715px) {
    .bgfon{
        margin-top:1rem;
    }
    .bgfon>div{
        font-size: 40px;
        margin-left: 1.5rem;
    }
    .garant_ob{
        margin-left: 1.5rem;
    }
}
@media (max-width: 550px){
    .center{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .bgfon>div{
        font-size:40px;
    }

}
